DATABASE_URL="postgresql://poster_user:strong_password@localhost:5432/poster_display?schema=public"
NEXTAUTH_SECRET="change-this-to-a-random-32-character-minimum-secret"
APP_URL="https://poster.awhdigital.my.id"
UPLOAD_DIR="./public/uploads"
MAX_UPLOAD_SIZE="20971520"
